{% extends 'base.html.twig' %}

{% set userRole = auth %}

{% block title %}Occasion{{vehicule.title}}{% endblock %}

{% block body %}
<h1>{{vehicule.title}}</h1>
<div class="row justify-content-center mh">
  <div class="col-12 col-md-6">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src={{photo1.src}} alt="First slide"/>
        </div>
        {% for photo in photos %}
          <div class="carousel-item">
            <img class="d-block w-100" src={{photo.src}} alt="slide"/>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div>
  <h2>{{vehicule.price}} €</h2>
  <p>{{vehicule.description}}</p>
  <p>Année : {{vehicule.year}}</p>
  <p>{{vehicule.fuel}}</p>
  <p>{{vehicule.mileage}} km</p>
  <p>{{vehicule.gearbox}}</p>
  <p>Couleur : {{vehicule.color}}</p>
  <p>{{vehicule.doors}} portes</p>
  <p>{{vehicule.seats}} places</p>
  <p>Puissance : {{vehicule.power}} ch</p>
  <p>Puissance fiscale : {{vehicule.fiscalpower}} ch</p>
  <p>Hauteur : {{vehicule.height}} m</p>
  <p>Largeur : {{vehicule.width}} m</p>
  <p>Longueur : {{vehicule.length}} m</p>
  <p>Emission de CO2 : {{vehicule.co2emission}} g/km</p>
  <p>Volume du coffre : {{vehicule.trunkvolume}} l</p>
  <a href="./contact?annonce={{vehicule.id}}" class ="btn mb-5">Nous contacter pour cette annonce</a>
</div
{% endblock %}

{% block schedule %}
  {% include './_schedule_template.html.twig' with {'schedules': schedules} %}
{% endblock %}