{% extends "base.html.twig" %}

{% set userRole = auth %}

{% block title %}
Accueil
{% endblock %}

{% block body %}
{{parent()}}
  <div class="row garage-picture text-center align-items-center">
    <h1>Garage V. PARROT</h1>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-8">
      <h2>Nos services</h2>
      {% for service in services %}
        <div class="row mb-2 shadow">
          <img class="img-fluid col-12 col-md-4" src ={{service.picture}} alt={{service.name}}/>
          <div class="col-12 col-md-8">
            <h3>{{service.name}}</h2>
            <p>{{service.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-12 col-md-4 mt-2">
      <div>
        <h3>Votre avis nous intéresse</h3>
        {% include './homepage/_form_testimony.html.twig' %}
      </div>
      <h3>Nos clients parlent de nous</h3>
      {% for testimony in testimonies %}
        {% if testimony.tovalidate != '1' %}
          <div class="row mb-2 shadow">
            <div class="row">
              <p class="col-6"><strong>{{testimony.name}}</strong></p>
              <p class="col-6 text-center">{{testimony.grade}}</p>
            </div>
            <div class="col-12 col-md-8">
              <p>{{testimony.content}}</p>
              <strong>Déposé le : </strong>{{testimony.date}} à {{testimony.time}}
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block schedule %}
  {% include './_schedule_template.html.twig' with {'schedules': schedules} %}
{% endblock %}

{% block javascripts %}
  <script src ="./Assets/starsForm.js"></script>
{% endblock %}