{% extends 'base.html.twig' %}

{% set userRole = auth %}
{% set title = 'Employés' %}

{% block title %}
    Administrateur
{% endblock %}

{% block body %}
<div class="d-md-none">
    <h2 id="mainTitle">Employés</h2>
    <div>
        <button id="employeeBtn" class="btn" onclick="buttonClicked('Employés')" disabled>Employés</button>
        <button id="serviceBtn" class="btn" onclick="buttonClicked('Services')">Services</button>
        <button id="scheduleBtn" class="btn" onclick="buttonClicked('Horaires')">Horaires</button>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="employee" class="col-12 col-md-4 d-md-block">
            <h2 class="text-center d-none d-md-block">Employés</h2>
            <div class="row justify-content-around mt-3 mb-3">
                <a href="" class="btn col-3">Nouveau</a>
            </div>
                <div class="shadow pt-2 pb-2">
                {% for employee in employees %}
                    <div class="row ps-2">
                        <span>
                            <strong>Nom : </strong>{{employee.firstname}} {{employee.lastname}}
                        </span></br>
                                    <span>
                            <strong>Poste : </strong>{{employee.poste}}
                        </span></br>
                        <span>
                            <strong>Moderateur : </strong>
                            {% if employee.moderator %}
                            oui
                            {% else %}
                            non
                            {% endif %}
                        </span></br>
                        <span>
                            <strong>Email : </strong>{{employee.email}}
                        </span>
                    </div>
                    <div class="row justify-content-around mt-3 mb-3">
                        <a href="" class="btn col-3">Modifier</a>
                        <a href="" class="btn col-3">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="services" class="col-12 col-md-4 d-none d-md-block">
            <h2 class="text-center d-none d-md-block">Services</h2>
            <div class="row justify-content-around mt-3 mb-3">
                <a href="" class="btn col-3">Nouveau</a>
            </div>
            {% for service in services %}
                <div class="row">
                    <span>
                        <strong>Titre : </strong>{{service.name}}
                    </span></br>
                                <span>
                        <strong>Description : </strong>{{service.description}}
                    </span></br>
                    <span>
                        <strong>Image : </strong>{{service.picture}}
                    </span>
                </div>
                <div class="row justify-content-around mt-3 mb-3">
                    <a href="" class="btn col-3">Modifier</a>
                    <a href="" class="btn col-3">Supprimer</a>
                </div>
            {% endfor %}
        </div>

        <div id="schedule" class="col-12 col-md-4 d-none d-md-block">
            <h2 class="text-center d-none d-md-block">Horaires</h2>
            <div class="row justify-content-around mt-3 mb-3">
                <a href="" class="btn col-3">Nouveau</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" colspan='2' class="text-center">Matin</th>
                        <th scope="col"></th>
                        <th scope="col" colspan='2' class="text-center">Après-midi</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></td>
                        <td>Ouverture</td>
                        <td>Fermeture</td>
                        <td>Fermé</td>
                        <td>Ouverture</td>
                        <td>Fermeture</td>
                        <td>Fermé</td>
                    </tr>
                    {% for schedule in schedules %}
                        <tr>
                            <th scope="row">{{schedule.day}}</td>
                            <td>{{schedule.morningStart}}</td>
                            <td>{{schedule.morningEnd}}</td>
                            {% if schedule.morningIsClosed == 'true' %}
                                <td><input type="checkbox" checked/></td>
                            {% else %}
                                <td><input type="checkbox"/></td>
                            {% endif %}
                            <td>{{schedule.afternoonStart}}</td>
                            <td>{{schedule.afternoonEnd}}</td>
                            {% if schedule.afternoonIsClosed == 'true' %}
                                <td><input type="checkbox" checked/></td>
                            {% else %}
                                <td><input type="checkbox"/></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function buttonClicked(title) {
        let btnEmployee = document.getElementById('employeeBtn');
        let btnService = document.getElementById('serviceBtn');
        let btnSchedule = document.getElementById('scheduleBtn');
        let mainTitle = document.getElementById('mainTitle');
        let sectionEmployee = document.getElementById('employee');
        let sectionServices = document.getElementById('services');
        let sectionSchedule = document.getElementById('schedule');
        mainTitle.innerText = title;

        switch (title) {
            case 'Employés' :
                btnEmployee.setAttribute('disabled', '');
                btnService.removeAttribute('disabled');
                btnSchedule.removeAttribute('disabled');
                if(sectionEmployee.classList.contains('d-none')) {
                    sectionEmployee.classList.remove('d-none');
                }
                if(!sectionServices.classList.contains('d-none')) {
                    sectionServices.classList.add('d-none');
                }
                if(!sectionSchedule.classList.contains('d-none')) {
                    sectionSchedule.classList.add('d-none');
                }
                break;

            case 'Services' :
                btnEmployee.removeAttribute('disabled', '');
                btnService.setAttribute('disabled', '');
                btnSchedule.removeAttribute('disabled');
                if(!sectionEmployee.classList.contains('d-none')) {
                    sectionEmployee.classList.add('d-none');
                }
                if(sectionServices.classList.contains('d-none')) {
                    sectionServices.classList.remove('d-none');
                }
                if(!sectionSchedule.classList.contains('d-none')) {
                    sectionSchedule.classList.add('d-none');
                }
                break;

            case 'Horaires' :
                btnEmployee.removeAttribute('disabled', '');
                btnService.removeAttribute('disabled');
                btnSchedule.setAttribute('disabled', '');
                if(!sectionEmployee.classList.contains('d-none')) {
                    sectionEmployee.classList.add('d-none');
                }
                if(!sectionServices.classList.contains('d-none')) {
                    sectionServices.classList.add('d-none');
                }
                if(sectionSchedule.classList.contains('d-none')) {
                    sectionSchedule.classList.remove('d-none');
                }
                break;

            default:
                break;
        }
    }
</script>
{% endblock %}
