<div class="container-fluid">
  <p>
    <a class="link" data-bs-toggle="collapse" data-bs-target="#collapseSchedule" role="button" aria-expanded="false" aria-controls="collapseExample">
      Horaires
    </a>
  </p>
  <div class="collapse" id="collapseSchedule">
    <ul class="list-unstyled">
      {% for schedule in schedules %}
        <li>
          <p class="row">
            <strong class="col-3">{{schedule.day}} :</strong>
            {% if schedule.morningisclosed == "1" %}
              {% if schedule.afternoonisclosed == "1" %}
                <p class="col-9">Fermé</p>
              {% else %}
                <p class="col-9">Ouvert de {{schedule.afternoonstart}} à {{schedule.afternoonend}}</p>
              {% endif %}
            {% elseif schedule.afternoonisclosed == "1" %}
            <p class="col-9">Ouvert de {{schedule.morningstart}} à {{schedule.morningend}}</p>
            {% else %}
            <p class="col-9">Ouvert de {{schedule.morningstart}} à {{schedule.morningend}} et de {{schedule.afternoonstart}} à {{schedule.afternoonend}}</p>
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>