{% extends 'base.html.twig' %}

{% set userRole = auth %}

{% block title %}
    Employé
{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="row">

{# temoignages #}

{# navigation temoignages #}
        <div class="col-12 col-md-6 text-center">
            <h2 class="deep-green-text">Témoignages</h2>
            <div class="mb-3">
                <button id="toValidateBtn" class="btn" onclick="buttonClicked('ToValidate')" disabled>A valider</button>
                <button id="newBtn" class="btn" onclick="buttonClicked('New')">Nouveau</button>
                <button id="publishedBtn" class="btn" onclick="buttonClicked('Published')">Publiés</button>
            </div>

{# affichage des temoignages à valider #}
            <div class="row justify-content-around">
                <div id="toValidate" class="col-12 col-md-4">
                    {% for testimony in testimonies %}
                        {% if testimony.tovalidate == '1' %}
                            <div class="shadow pt-2 pb-2 mb-2">
                                <div class="row ps-2">
                                    <span>
                                        <strong>Nom : </strong>{{testimony.name}}
                                    </span></br>
                                    <span>
                                        <strong>Message : </strong>{{testimony.content}}
                                    </span></br>
                                    <span>
                                        <strong>Note : </strong>              
                                        <p>
                                            {% for i in 1..testimony.grade %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" stroke="black" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            {% endfor %}
                                            {% if testimony.grade < 5 %}
                                            {% for i in testimony.grade +1..5 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="black" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </span>
                                    <span>
                                        <strong>Déposé le : </strong>{{testimony.date}} à {{testimony.time}}
                                    </span>
                                </div>

    {# boutons de publication ou d'annulation des temoignage à valider #}
                                <div class="row justify-content-around mt-3 mb-3">
                                    <a href="./employe/deletetestimony?id={{testimony.id}}" class="btn col-3">Refuser</a>
                                    <a href="./employe/validatetestimony?id={{testimony.id}}" class="btn col-3">Publier</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

{# formulaire de création d'un témoignage #}
            <div class="row justify-content-around">
                <div id="new" class="col-12 col-md-6 d-none shadow">
                        {% include './employee_page/_form_testimony.html.twig' %}
                </div>
            </div>

{# affichage des témoignages validés #}
            <div class="row justify-content-around">
                <div id="published" class="col-12 col-md-4 d-none">
                    {% for testimony in testimonies %}
                        {% if testimony.tovalidate != '1' %}
                            <div class="shadow pt-2 pb-2 mb-2">
                                <div class="row ps-2">
                                    <span>
                                        <strong>Nom : </strong>{{testimony.name}}
                                    </span></br>
                                                <span>
                                        <strong>Message : </strong>{{testimony.content}}
                                    </span></br>
                                    <span>
                                        <strong>Note : </strong>
                                        <p>
                                            {% for i in 1..testimony.grade %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" stroke="black" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            {% endfor %}
                                            {% if testimony.grade < 5 %}
                                            {% for i in testimony.grade +1..5 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="black" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </span>
                                    <span>
                                        <strong>Déposé le : </strong>{{testimony.date}} à {{testimony.time}}
                                    </span>
                                </div>

    {# bouton de suppression d'un témoignage publié #}
                                <div class="row justify-content-around mt-3 mb-3">
                                    <a href="./employe/deletetestimony?id={{testimony.id}}" class="btn col-4">Supprimer</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

{# annonces #}
        <div class="col-12 col-md-6 text-center">
            <h2 class="deep-green-text">Annonces</h2>

{# formulaire de création d'annonce #}
            <div id="vehiculeCreateForm" class="container-fluid d-none">
                <div class="row justify-content-around mt-3 mb-3">
                    <a class="btn col-3" href="./employe">Annuler</a>
                </div>
                {% include './employee_page/_form_add_vehicule.html.twig' %} 
            </div>

{# affichage des annonces #}
            <div id="vehicule" class="container-fluid">
                <div class="mb-3">
                    <button id="vehiculeCreateBtn" class="btn col-md-3 col-4" onclick="buttonCreateVehicule()">Nouveau</button>
                </div>
                <div class="row justify-content-around">
                    {% for vehicule in vehicules %}

{# formulaire de modification d'une annonce #}
                        <div id="vehiculeModifyForm{{vehicule.id}}" class="container-fluid d-none" style="width: 18rem;">
                            <div class="row justify-content-around mt-3 mb-3">
                                <a class="btn col-4" href="./employe">Annuler</a>
                            </div>
                            {% include './employee_page/_form_modify_vehicule.html.twig' with {'vehicule' : vehicule} %} 
                        </div>

{# affichage des annonces #}
                        <div id="vehiculeDisplay{{vehicule.id}}" class="card" style="width: 18rem;">
                            <img class="card-img-top" src={{vehicule.mainpicture}} alt="Photo"/>
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{vehicule.title}}</strong></h5>
                                <p class="card-text">
                                    <span>Année : {{vehicule.year}}</span></br>
                                    <span>{{vehicule.fuel}}</span></br>
                                    <span>{{vehicule.mileage}} km</span></br>
                                    <span><strong>{{vehicule.price}} €</strong></span>
                                </p>
{# boutons de modification et de suppression d'annonce #}
                                <div class="row justify-content-around mt-3 mb-3">
                                    <button id="modifyServiceBtn" onclick="buttonModifyVehicule({{vehicule.id}})" class="btn col-5">Modifier</button>
                                    <a href="./employe/deletevehicule?id={{vehicule.id}}" class="btn col-5">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function buttonClicked(title) {
        let btnToValidate = document.getElementById('toValidateBtn');
        let btnNew = document.getElementById('newBtn');
        let btnPublished = document.getElementById('publishedBtn');
        let sectionToValidate = document.getElementById('toValidate');
        let sectionNew = document.getElementById('new');
        let sectionPublished = document.getElementById('published');

        switch (title) {
            case 'ToValidate' :
                btnToValidate.setAttribute('disabled', '');
                btnNew.removeAttribute('disabled');
                btnPublished.removeAttribute('disabled');
                if(sectionToValidate.classList.contains('d-none')) {
                    sectionToValidate.classList.remove('d-none');
                }
                if(!sectionNew.classList.contains('d-none')) {
                    sectionNew.classList.add('d-none');
                }
                if(!sectionPublished.classList.contains('d-none')) {
                    sectionPublished.classList.add('d-none');
                }
                break;

            case 'New' :
                btnToValidate.removeAttribute('disabled');
                btnNew.setAttribute('disabled', '');
                btnPublished.removeAttribute('disabled');
                if(!sectionToValidate.classList.contains('d-none')) {
                    sectionToValidate.classList.add('d-none');
                }
                if(sectionNew.classList.contains('d-none')) {
                    sectionNew.classList.remove('d-none');
                }
                if(!sectionPublished.classList.contains('d-none')) {
                    sectionPublished.classList.add('d-none');
                }
                break;

            case 'Published' :
                btnToValidate.removeAttribute('disabled');
                btnNew.removeAttribute('disabled');
                btnPublished.setAttribute('disabled', '');
                if(!sectionToValidate.classList.contains('d-none')) {
                    sectionToValidate.classList.add('d-none');
                }
                if(!sectionNew.classList.contains('d-none')) {
                    sectionNew.classList.add('d-none');
                }
                if(sectionPublished.classList.contains('d-none')) {
                    sectionPublished.classList.remove('d-none');
                }
                break;

            default:
                break;
        }
    }

    function buttonCreateVehicule() {

        let sectionVehicule = document.getElementById('vehicule');
        let sectionCreateVehicule = document.getElementById('vehiculeCreateForm');

        if(!sectionVehicule.classList.contains('d-none')) {
            sectionVehicule.classList.add('d-none');
        }
 
        if(sectionCreateVehicule.classList.contains('d-none')) {
            sectionCreateVehicule.classList.remove('d-none');
        }
    }

    function buttonModifyVehicule(id) {

        id=id.toString();
        let sectionDisplayVehicule = document.getElementById('vehiculeDisplay'+id.toString());
        let sectionModifyVehicule = document.getElementById('vehiculeModifyForm'+id.toString());
                
        if(!sectionDisplayVehicule.classList.contains('d-none')) {
            sectionDisplayVehicule.classList.add('d-none');
        }
        if(sectionModifyVehicule.classList.contains('d-none')) {
            sectionModifyVehicule.classList.remove('d-none');
        }

    }

</script>
<script src ="./Assets/starsForm.js"></script>
{% endblock %}

{% block schedule %}
  {% include './_schedule_template.html.twig' with {'schedules': schedules} %}
{% endblock %}